@using Resource = Resources.Account.Views.Manage
@using GeneralResource = Resources.Account.Views.General

@{
    ViewBag.Title = Resource.Change_password;
}

<ol class="breadcrumb">
    <li><a href="/">@GeneralResource.BreadcrumbHome</a></li>
    <li>@Html.ActionLink(GeneralResource.Profile_label, GlobalConstants.Index, new { controller = "Profile", area = "Users"})</li>
    <li>@Html.ActionLink(GeneralResource.Settings_label, GlobalConstants.Index, new { controller = "Settings", area = "Users" })</li>
    <li class="active">@ViewBag.Title</li>
</ol>

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-12">
        @(ViewBag.HasLocalPassword ? Html.Partial("_ChangePasswordPartial") : Html.Partial("_SetPasswordPartial"))

        <section id="externalLogins">
            @Html.Action("RemoveAccountList")
            @*@Html.Partial("_ExternalLoginsListPartial", new { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })*@
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}