@using Resource = Resources.Areas.Administration.Navigation
@using GeneralResource = Resources.Areas.Administration.AdministrationGeneral

@{
    ViewBag.Title = GeneralResource.Administration;
}

<h1>@ViewBag.Title</h1>
@Html.ActionLink(Resource.Tasks_Link, GlobalConstants.Index, "Problems", new { area = "Administration" }, null)<br />
@Html.ActionLink(Resource.Contests_Link, GlobalConstants.Index, "Contests", new { area = "Administration" }, null)<br />
@Html.ActionLink(Resource.Contest_Categories_Link, GlobalConstants.Index, "ContestCategories", new { area = "Administration" }, null)<br />
@Html.ActionLink(Resource.Exam_Groups_Link, GlobalConstants.Index, "ExamGroups", new { area = "Administration" }, null)<br />
@Html.ActionLink(Resource.Feedback_Link, GlobalConstants.Index, "Feedback", new { area = "Administration" }, null)<br />
@Html.ActionLink(Resource.Contest_Categories_Hierarchy_Link, "Hierarchy", "ContestCategories", new { area = "Administration" }, null)<br />
@Html.ActionLink(Resource.Tests_Link, GlobalConstants.Index, "Tests", new { area = "Administration" }, null)<br />
@Html.ActionLink(Resource.Users_Link, GlobalConstants.Index, "Users", new { area = "Administration" }, null)<br />
@Html.ActionLink(Resource.Submissions_Link, GlobalConstants.Index, "Submissions", new { area = "Administration" }, null)<br />
@Html.ActionLink(Resource.Roles_Link, GlobalConstants.Index, "Roles", new { area = "Administration" }, null)<br />
@Html.ActionLink(Resource.Settings_Link, GlobalConstants.Index, "Settings", new { area = "Administration" }, null)<br />
@Html.ActionLink(Resource.Access_Logs_Link, GlobalConstants.Index, "AccessLogs", new { area = "Administration" }, null)<br />